<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="section-title">
            <h4>Cart</h4>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="btn__all">
            <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
        </div>
    </div>
</div>
<div class="cart">
    <div class="cart-item row">
        <div class="col-md-2">
            <img src="img/recent/recent-3.jpg" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h5>Mushishi Zoku Shou: Suzu no Shizuku</h5>
            <p style="color: white;">18 / 18 episodes</p>
            <p><strong style="color: white;">Price: </strong><span style="color: white;">$10</span></p>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <button class="btn btn-outline-secondary btn-sm mr-2">-</button>
            <span>1</span>
            <button class="btn btn-outline-secondary btn-sm ml-2">+</button>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end">
            <p><strong>$10</strong></p>
        </div>
    </div>

    <div class="cart-item row">
        <div class="col-md-2">
            <img src="img/recent/recent-4.jpg" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h5>Fate/Zero 2nd Season</h5>
            <p style="color: white;">18 / 18 episodes</p>
            <p><strong style="color: white;">Price: </strong><span style="color: white;">$15</span></p>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <button class="btn btn-outline-secondary btn-sm mr-2">-</button>
            <span>1</span>
            <button class="btn btn-outline-secondary btn-sm ml-2">+</button>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end">
            <p><strong>$15</strong></p>
        </div>
    </div>

    <div class="cart-item row">
        <div class="col-md-2">
            <img src="img/recent/recent-5.jpg" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h5>Kizumonogatari II: Nekket su-hen</h5>
            <p style="color: white;">18 / 18 episodes</p>
            <p><strong style="color: white;">Price: </strong><span style="color: white;">$12</span></p>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <button class="btn btn-outline-secondary btn-sm mr-2">-</button>
            <span>1</span>
            <button class="btn btn-outline-secondary btn-sm ml-2">+</button>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end">
            <p><strong>$12</strong></p>
        </div>
    </div>

    <div class="cart-total row mt-4">
        <div class="col-md-6">
            <p><strong style="color: white;">Total:</strong></p>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <p><strong style="color: white;">$37</strong></p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <button class="btn btn-success btn-lg">Thanh Toán</button>
        </div>
    </div>
</div>
